*.log
*.cache
*.v12.suo
logs/
bin/
obj/
Reports/
Documents/
*.pdb
*.dll
*.msi
!LocalLibraries/*.dll
.vs/
Installer/ServiceMonitorPublish/
Installer/TundraPublish/
Installer/FrontEnd/
Tundra/obj
*.csproj.user
*.user
*.suo
*.exe
packages/
*.vsp
*.pubxml
*.webinfo
*.psess
*.vspx
